* {
  box-sizing: border-box;
}

body {
  color: black;
  font: normal 0.6em/1.1 Montserrat, sans-serif;;
  background: beige;
  padding: 0 0.5em 0.5em;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 1em 0 0;
  line-height: 1.2;
  text-align: center;
}
 .mem {
  width: 100%;
  margin: 0 auto;
 }

 .mem_item {
  border-bottom: 0.1rem solid lightgrey;
  padding: 0.5em 0;
  text-align: center;
 }

.mem_title {
  cursor: pointer;
}

.label_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 1em;
}

.mem_image {
  display: block;
  height: 0;
  visibility: hidden;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  margin: 0 auto;
}

.mem_input {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

.mem_input:checked ~ .mem_title .label_container .label_image {
  transform-origin: center center;
  transform: rotate(45deg);
  transition: transform .3s;
} 

.mem_input:checked ~.mem_image {
  height: auto;
  visibility:visible;
  opacity: 1;
  transition: opacity 1s linear;
}