* {
  box-sizing: border-box;
}

body {
  color: black;
  font: normal 0.6em/1.1 Montserrat, sans-serif;
  background: #F6F6EC;
  padding: 0 0.5em 0.5em;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 1em 0.5em 0;
  line-height: 1.2;
  text-align: left;
}

.mem {
  margin: 0 auto;
}

.mem_item {
  border-bottom: 0.1rem solid lightgrey;
  padding: 0.5em 0;
}

.mem_title {
  cursor: pointer;
}

.label_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 1em;
}

.label_image {
  margin-left: 1em;
}

.mem_image {
  display: block;
  height: 0;
  visibility: hidden;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  margin: 0 auto;
}

.mem_image img {
  width: 100%;
}

.mem_input {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

.mem_input:checked~.mem_title .label_container .label_image {
  transform-origin: center center;
  transform: rotate(45deg);
  transition: transform .3s;
}

.mem_input:checked~.mem_image {
  height: auto;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

@media only screen and (min-width: 450px) {

  body {
    font: normal 0.8em/1.1 Montserrat, sans-serif;
  }

  .mem_image {
    max-width: 80%;
  }
}

@media only screen and (min-width: 600px) {

  body {
    font: normal 1em/1.1 Montserrat, sans-serif;
    padding: 0 2em 0.5em;
  }

  .mem_image {
    max-width: 55%;
  }
}

@media only screen and (min-width: 821px) {

  body {
    font: bold 1.5em/1.1 Montserrat, sans-serif;
  }

  h1 {
    margin-left: calc(10% + 0.5em);
  }

  .mem {
    margin: 0 10%;
  }

  .mem_image {
    max-width: 45%;
  }
}

@media (hover: hover) {

  body .mem_title {
    color: #397BDE;
  }

  body .mem_title>.label_container>.label_image {
    visibility: hidden;
  }

  body:hover .mem_title {
    color: black;
  }

  body:hover .mem_title>.label_container>.label_image {
    visibility: visible;
  }

  .mem_item:hover>.mem_title>.label_container>.label_image {
    transform-origin: center center;
    transform: rotate(45deg);
    transition: transform .3s;
  }

  .mem_item:hover>.mem_image {
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
}